

# sqlite db
SQLITE_URL = ""

# mongodb
MONGODB_URL = ""
MONGODB_DB = ""

# TimeZone
TZ = UTC

# SERVER
APP_NAME = "APP_NAME"
API_PORT = integer
SERVER_URI = ""
ALLOW_ORIGIN = "*"
DEFAULT_LANGUAGE = "en"
LANGUAGES = "en,ar"
API_GATEWAY = "api.example.com"
API_GATEWAY_AUTH = ""


# Security
TOKEN_SECRET_KEY = ""
TOKEN_ALGORITHM = ""
ACCESS_TOKEN_EXPIRE_MINUTES = integer


# SERVICES

# Push

# SMS

# GRPC

# RabbitMQ

# MongoDB

# ElasticSearch

# MQTT

# Redis

# OR Server

# Charge Customer

# Ship Rocker service

# Driver Loyality service
